body, html {
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, monospace;
    font-size: 13px;
}



.nav {
    list-style-type: none;
    padding: 0;
    margin: 1em;
}

.top-nav{
    display: flex;
    background: lightgray;
    width: 100%;
    position: fixed;
    z-index: 1000;
    align-content: space-evenly;
    margin: auto;
    align-items: center;
}

.nav-item{
    color: black;
    font-weight: bold;
    text-decoration: none;
    float: left;
    padding: 8px;
    margin: auto;
}

.nav2 {
    list-style-type: none;
    padding: 0;
    margin: 1em;
}

.nav-item2 {
    color: black;
    font-weight: bold;
    text-decoration: none;
    float: right;
    padding: 8px;
    align-items: center;
    margin: auto;
}

.logo {
    list-style-type: none;
    padding: 0;
    margin: auto;
}

.logo-item {
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    margin: auto;
    justify-content: space-evenly;
}